body {
	font-family: system-ui, -apple-system, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

main {
	max-width: 700px;
	margin: 3rem auto;
	padding: 0 1rem;
}

h1, h2 {
    font-weight: 500;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}